# serverless.yml

service: api

plugins:
  - serverless-python-requirements
  - serverless-wsgi

custom:
  wsgi:
    app: flask.api
    packRequirements: false
  pythonRequirements:
    dockerizePip: non-linux

provider:
  name: aws
  runtime: python3.8
  stage: dev
  region: us-east-1

functions:
  api:mysql-flask
    handler:wsgi_handler.handler
events:
  - http:
    path: /
    method: ANY
  - http:
    path: /{proxy+}
    method: ANY
        
      
